html,
body {
  margin: 0;
  padding: 0;
  font-family: Comic Sans MS;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.hidedock {
  display: none;
}

.showscore {
  display: block;
}

.container {
  margin: 0 auto;
  width: 50%;
}

#deck {
  background: #716F71;
  border-radius: 0.3rem;
  box-shadow: 7px 7px 5px -3px #716F71;
  -webkit-box-shadow: 7px 7px 5px -3px #716F71;
  -moz-box-shadow: 7px 7px 5px -3px #716F71;
}

#wrapper h1 {
  color: #b49450;
  text-align: center;
  text-align: center;
  font-size: 1.8rem;
}

.score {
  background: #000;
  color: #fff;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

.score ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score ul li span {
  font-size: 1.6rem;
  vertical-align: sub;
  margin: 0 0.5rem;
}

#gameOver {
  background: #b49450;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
}

#gameOver:first-child {
  padding: 2rem 0;
  font-size: 2rem;
}

#gameOver .score {
  background: transparent;
  padding: 1rem 0;
}

#gameOver a {
  background: #000;
  color: #fff;
  padding: 0.3rem 0.8rem;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
}

.container .gccm {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding: 0 1% 1% 1%;
}

.container .gccm li {
  width: 4vw;
  height: 4vw;
  background-color: #b49450;
  margin: 0 auto 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  background-image: url('question-mark.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.container .gccm li.diamond {
  background-image: url('diamond.png');
}

.container .gccm li.empty {
  background-image: none;
}

.empty.down:before,
.empty.up:before,
.empty.left:before,
.empty.right:before {
  content: "\21E9";
  color: #fff;
  font-size: 3rem;
  line-height: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.empty.up:before {
  content: "\21E7";
}

.empty.left:before {
  content: "\21E6";
}

.empty.right:before {
  content: "\21E8";
}


/**
 * ----------------------------------------
 * animation empty
 * ----------------------------------------
 */

.empty {
  -webkit-animation: empty 0.8s both;
  animation: empty 0.8s both;
}

@-webkit-keyframes empty {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes empty {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}


/**
 * ----------------------------------------
 * animation diamond
 * ----------------------------------------
 */

.diamond {
  -webkit-animation: diamond 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: diamond 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes diamond {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }
}

@keyframes diamond {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }
}


/**
 * ----------------------------------------
 * animation bounce
 * ----------------------------------------
 */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.bounce {
  -webkit-animation: bounce 0.9s both;
  animation: bounce 0.9s both;
}


/**
 * ----------------------------------------
 * animation sil
 * ----------------------------------------
 */

.sil {
  -webkit-animation: sil 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: sil 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes sil {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sil {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * animation sir
 * ----------------------------------------
 */

.sir {
  -webkit-animation: sir 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: sir 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes sir {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sir {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 567px) {
  .container {
    width: 98%;
    padding: 1%;
  }
  .container ul.gccm li {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.3rem 0.5rem 0.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .empty.down:before,
  .empty.up:before,
  .empty.left:before,
  .empty.right:before {
    font-size: 1.6rem;
  }
}